In [4]:
import pandas as pd
liver = pd.read_csv('indian_liver_patient.csv')
liver

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [3]:
df = liver.drop(['Age','Gender'],axis=1)

In [6]:
max = df['Total_Bilirubin'].max()
max
print(df['Total_Bilirubin'].min())

0.4

In [8]:
print(df['Direct_Bilirubin'].min())
print(df['Direct_Bilirubin'].max())

0.1
19.7

In [9]:
print(df['Alamine_Aminotransferase'].min())
print(df['Alamine_Aminotransferase'].max())

10
2000

In [11]:
print(df['Aspartate_Aminotransferase'].min())
print(df['Aspartate_Aminotransferase'].max())

10
4929

In [12]:
print(df['Albumin'].min())
print(df['Albumin'].max())

0.9
5.5

In [10]:
print(df['Total_Protiens'].min())
print(df['Total_Protiens'].max())

2.7
9.6

In [ ]:
print(df['Alkaline_Phosphotase'].min())
print(df['Alkaline_Phosphotase'].max())

In [13]:
print(df['Albumin_and_Globulin_Ratio'].min())
print(df['Albumin_and_Globulin_Ratio'].max())

0.3
2.8

In [4]:
df

,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...
578,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [6]:
y=df.Dataset
y

0      1
1      1
2      1
3      1
4      1
      ..
578    2
579    1
580    1
581    1
582    2
Name: Dataset, Length: 583, dtype: int64

In [8]:
x=df.drop(['Dataset'],axis=1)
x

,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio
0,0.7,0.1,187,16,18,6.8,3.3,0.90
1,10.9,5.5,699,64,100,7.5,3.2,0.74
2,7.3,4.1,490,60,68,7.0,3.3,0.89
3,1.0,0.4,182,14,20,6.8,3.4,1.00
4,3.9,2.0,195,27,59,7.3,2.4,0.40
...,...,...,...,...,...,...,...,...
578,0.5,0.1,500,20,34,5.9,1.6,0.37
579,0.6,0.1,98,35,31,6.0,3.2,1.10
580,0.8,0.2,245,48,49,6.4,3.2,1.00
581,1.3,0.5,184,29,32,6.8,3.4,1.00
582,1.0,0.3,216,21,24,7.3,4.4,1.50

In [5]:
breast  = pd.read_csv("processed_data.csv")

In [6]:
print(breast['texture_mean'].min())
print(breast['texture_mean'].max())

9.71
39.28

In [9]:
print(breast['smoothness_mean'].min())
print(breast['smoothness_mean'].max())

0.05263
0.1634

In [10]:
print(breast['compactness_mean'].min())
print(breast['compactness_mean'].max())

0.01938
0.3454

In [11]:
print(breast['concave points_mean'].min())
print(breast['concave points_mean'].max())

0.0
0.2012

In [12]:
print(breast['symmetry_mean'].min())
print(breast['symmetry_mean'].max())

0.106
0.304

In [13]:
print(breast['fractal_dimension_mean'].min())
print(breast['fractal_dimension_mean'].max())

0.04996
0.09744

In [14]:
print(breast['texture_se'].min())
print(breast['texture_se'].max())

0.3602
4.885

In [16]:
print(breast['area_se'].min())
print(breast['area_se'].max())

6.802
542.2

In [17]:
print(breast['smoothness_se'].min())
print(breast['smoothness_se'].max())

0.001713
0.03113

In [18]:
print(breast['compactness_se'].min())
print(breast['compactness_se'].max())

0.002252
0.1354

In [19]:
print(breast['concavity_se'].min())
print(breast['concavity_se'].max())

0.0
0.396

In [20]:
print(breast['concave points_se'].min())
print(breast['concave points_se'].max())

0.0
0.05279

In [21]:
print(breast['symmetry_se'].min())
print(breast['symmetry_se'].max())

0.007882
0.07895

In [22]:
print(breast['fractal_dimension_se'].min())
print(breast['fractal_dimension_se'].max())

0.0008948
0.02984

In [23]:
print(breast['texture_worst'].min())
print(breast['texture_worst'].max())

12.02
49.54

In [24]:
print(breast['area_worst'].min())
print(breast['area_worst'].max())

185.2
4254.0

In [25]:
print(breast['smoothness_worst'].min())
print(breast['smoothness_worst'].max())

0.07117
0.2226

In [26]:
print(breast['compactness_worst'].min())
print(breast['compactness_worst'].max())

0.02729
1.058

In [27]:
print(breast['concavity_worst'].min())
print(breast['concavity_worst'].max())

0.0
1.252

In [28]:
print(breast['concave points_worst'].min())
print(breast['concave points_worst'].max())

0.0
0.291

In [29]:
print(breast['symmetry_worst'].min())
print(breast['symmetry_worst'].max())

0.1565
0.6638

In [ ]:
print(breast['fractal_dimension_worst'].min())
print(breast['fractal_dimension_worst'].max())

In [17]:
breast

,diagnosis,texture_mean,smoothness_mean,compactness_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,texture_se,area_se,smoothness_se,...,symmetry_se,fractal_dimension_se,texture_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
0,1,10.38,0.11840,0.27760,0.14710,0.2419,0.07871,0.9053,153.40,0.006399,...,0.03003,0.006193,17.33,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,1,17.77,0.08474,0.07864,0.07017,0.1812,0.05667,0.7339,74.08,0.005225,...,0.01389,0.003532,23.41,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,1,21.25,0.10960,0.15990,0.12790,0.2069,0.05999,0.7869,94.03,0.006150,...,0.02250,0.004571,25.53,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,1,20.38,0.14250,0.28390,0.10520,0.2597,0.09744,1.1560,27.23,0.009110,...,0.05963,0.009208,26.50,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,1,14.34,0.10030,0.13280,0.10430,0.1809,0.05883,0.7813,94.44,0.011490,...,0.01756,0.005115,16.67,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,1,22.39,0.11100,0.11590,0.13890,0.1726,0.05623,1.2560,158.70,0.010300,...,0.01114,0.004239,26.40,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,1,28.25,0.09780,0.10340,0.09791,0.1752,0.05533,2.4630,99.04,0.005769,...,0.01898,0.002498,38.25,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,1,28.08,0.08455,0.10230,0.05302,0.1590,0.05648,1.0750,48.55,0.005903,...,0.01318,0.003892,34.12,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,1,29.33,0.11780,0.27700,0.15200,0.2397,0.07016,1.5950,86.22,0.006522,...,0.02324,0.006185,39.42,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,0,24.54,0.05263,0.04362,0.00000,0.1587,0.05884,1.4280,19.15,0.007189,...,0.02676,0.002783,30.37,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039